@font-face {
  font-family: 'visitor';
  src: url('../../public/fonts/visitor.ttf') format("truetype");
}

body {
  width: 300px;
  height: 360px;
  background: #f0ede8;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
