@font-face {
  font-family: 'visitor';
  src: url('../../public/fonts/visitor.ttf') format("truetype");
}

body {
  width: 220px;
  height: 220px;
  background: #e8e8e0;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}