@font-face {
  font-family: 'visitor';
  src: url('../../public/fonts/visitor.ttf') format("truetype");
}

body {
  width: 100%;
  height: 100vh;
  background: #f0ede8;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  box-sizing: border-box;
}
